player-connection-mode=Listen
player-connection-guid=2148809536
player-connection-debug=0
player-connection-project-name=Graduation project
player-connection-ip=26.219.97.220
player-connection-ip=192.168.27.53
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fcf1c1e4f0b5423983e4a4db758ba3cf
