player-connection-mode=Listen
player-connection-guid=2808694401
player-connection-debug=0
player-connection-project-name=Graduation project
player-connection-ip=26.219.97.220
player-connection-ip=192.168.108.168
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=77824140388c448da9e39046010248ff
